.card {
    animation: transitionIn 0.75s;
    transform: rotate(0deg) scale(1) translateY(0px);
    transition: .5s all ease;
    opacity: 0.7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 5, 0.3);
    max-width: 300px;
    margin: auto;
    text-align: center;
    }
    .card:hover {
    transform: rotate(0deg) scale(1) translateY(10px);
    transition: 0.5s all ease;
    z-index: 400;
    opacity: 1;
    background-color: rgba(0, 0, 0 , 0.5);
    box-shadow: 0 4px 18px 0 rgba(191, 254, 255, 1);
    max-width: 300px;
    margin: auto;
    text-align: center;
    }
    .card:hover h1{
        -webkit-animation: glow 1s ease-in-out infinite alternate;
-moz-animation: glow 1s ease-in-out infinite alternate;
animation: glow 1s ease-in-out infinite alternate;
    }
    
    .title {
    font-family: 'Odibee Sans', cursive;
    color: #BFFEFF;
    font-size: 18px;
    }
    .container {
        margin-top: 5%;
        margin-left :20%;
        position: absolute;
        text-align: center;
        color: white;
        }
        .container2 {
        margin-top: 5%;
        margin-left: 40%;
        position: absolute;
        text-align: center;
        color: white;
        }
        .container3 {
        margin-top: 5%;
        margin-left: 60%;
        position: absolute;
        text-align: center;
        color: white;
        }
    