.card {

    color: white;
    animation: transitionIn 0.75s;
    transform: rotate(0deg) scale(1) translateY(0px);
    transition: .5s all ease;
    opacity: 1;
    box-shadow: 0 4px 18px 0 rgba(191, 254, 255, 1);
    max-width: 300px;
    margin: auto;
    text-align: center;
   
    }
    .card:hover {
    transform: rotate(0deg) scale(1) translateY(0px);
    transition: 0.5s all ease;
    z-index: 400;
    opacity: 1;
    background-color: rgba(0, 0, 0 , 0.5);
    box-shadow: 0 4px 18px 0 rgba(191, 254, 255, 1);
    max-width: 300px;
    margin: auto;
    text-align: center;
    }
    
    .title {
    color: #BFFEFF;
    font-size: 18px;
    }
    .container {
        margin-top: 5%;
        margin-left :10%;
        position: absolute;
        text-align: center;
        color: white;
        }
        .container2 {
        margin-top: 5%;
        margin-left: 10%;
        position: absolute;
        text-align: center;
        color: white;
        }
        .container3 {
        margin-top: 5%;
        margin-left: 0%;
        position: absolute;
        text-align: center;
        color: white;
        }
        .containertext{
        margin-top: 5%;
        margin-left: 30%;
        position: fixed;
        color: white;
        }
        .cardtext {
        box-sizing: border-box;
        animation: transitionIn 0.75s;
        transform: rotate(0deg) scale(1) translateY(0px);
        transition: .5s all ease;
        opacity: 1;
        background-color: rgba(0, 0, 0 , 0.3);
        box-shadow: 0 4px 18px 0 rgba(191, 254, 255, 1);
        width: 1200px;
        height: 700px;
        content: normal;
        padding: 10px;
        padding-left: 5% ;
            }
        .Heading{
            font-family: 'Odibee Sans', cursive;
            font-size: 50px;
            letter-spacing: 2px;
            text-align: center;
        }
        .Info {
            font-family: 'Odibee Sans', cursive;
            margin-top: -3%;
            font-size: 26px;
            font-weight: bold;
        }
      
       .Zodiac {
            opacity: 0.8;
            transition-duration: 1s;
            position: absolute;
            margin-top: -38%;
            margin-left: 81%;
            -webkit-filter: drop-shadow(0px 0px 10px rgba(255,255,255,0)) grayscale(100%);
        }
        .Zodiac:hover {
            opacity: 1;
            transform: scale(1.2);
           transition-duration: 0.5s;
            -webkit-filter: drop-shadow(0px 0px 15px rgba(255,255,255,1)) grayscale(0%);
        }