.flip-card-back {
    background-image: url("http://media-hearth.cursecdn.com/attachments/39/756/cardback_34.gif");
    background-size: 122%;
    background-position-x: 55%;
    background-position-y: -360%;
    background-repeat: no-repeat;
    color: white;
    transform: rotateY(180deg);
    -webkit-filter: drop-shadow(0px 0px 10px rgba(255,255,255,0.7));
  }