#ProfileVideo {
  display: block;
  margin: 0 auto;

}
body{
    font-family: 'Odibee Sans', cursive;
}
#myVideo {
position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
}
.content {
position: fixed;
bottom: 0;
background: rgba(0, 0, 0, 0.5);
color: #f1f1f1;
width: 100%;
padding: 20px;
}
#myBtn {
width: 200px;
font-size: 18px;
padding: 10px;
border: none;
background: #000;
color: #fff;
cursor: pointer;
}
#myBtn:hover {
background: #ddd;
color: black;
}
.card {
opacity: 0.7;
box-shadow: 0 4px 8px 0 rgba(0, 0, 5, 0.3);
max-width: 300px;
margin: auto;
text-align: center;
}
.card:hover {
transform: rotate(0deg) scale(1) translateY(10px);
transition: .5s all ease;
z-index: 400;
opacity: 1;
background-color: rgba(0, 0, 0 , 0.3);
box-shadow: 0 4px 18px 0 rgba(191, 254, 255, 1);
max-width: 300px;
margin: auto;
text-align: center;
}

.title {
font-family: 'Odibee Sans', cursive;
color: #BFFEFF;
font-size: 18px;
}

button {
font-family: 'Odibee Sans', cursive;
border: none;
outline: 0;
display: inline-block;
padding: 8px;
color: white;
background-color: #000;
text-align: center;
cursor: pointer;
width: 100%;
font-size: 20px;
}

a {
    font-family: 'Odibee Sans', cursive;
text-decoration: none;
font-size: 22px;
color: black;
}
.glow {
font-size: 80px;
color: #fff;
text-align: center;
-webkit-animation: glow 1s ease-in-out infinite alternate;
-moz-animation: glow 1s ease-in-out infinite alternate;
animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
from {
text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #547AFF, 0 0 40px #547AFF, 0 0 50px #547AFF, 0 0 60px #547AFF, 0 0 70px #547AFF
}
to {
text-shadow: 0 0 20px #fff, 0 0 30px #BFFEFF, 0 0 40px #BFFEFF, 0 0 50px #BFFEFF, 0 0 60px #BFFEFF, 0 0 70px #BFFEFF, 0 0 80px #BFFEFF;
}
}

button:hover, a:hover {
color: #fff;
text-align: center;
-webkit-animation: glow 1s ease-in-out infinite alternate;
-moz-animation: glow 1s ease-in-out infinite alternate;
animation: glow 1s ease-in-out infinite alternate;
opacity: 08;
}
/* Container holding the image and the text */
.container {
margin-top: 2%;
margin-left :40%;
position: absolute;
text-align: center;
color: white;
}
.container2 {
margin-top: 2%;
margin-left: 20%;
position: absolute;
text-align: center;
color: white;
}
.container3 {
margin-top: 2%;
margin-left: 60%;
position: absolute;
text-align: center;
color: white;
}
.bottom-left {
position: absolute;
bottom: 8px;
left: 16px;
}
.top-left {
position: absolute;
top: 8px;
left: 16px;
}
.top-right {
position: absolute;
top: 8px;
right: 16px;
}
.bottom-right {
position: absolute;
bottom: 8px;
right: 16px;
}
.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.kb{
width: 100%;
}
