*{  
margin:0;
padding: 0;
}
body{
  font-family: 'Odibee Sans', cursive;
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  .flip-card {

        margin-top: 0%;
      margin-left: 35%;
    background-color: transparent;
    width: 400px;
    height: 400px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
   
    transform-origin: center right;
  }
  
  .flip-card:hover .flip-card-inner {
    
    transform: translateX(-100%) rotateY(-180deg);
    transform-origin: center right;
  }
  /*แก้มาจิ้นตรงนี้ไอสัส*/
  .flip-card-front, .flip-card-back {
    box-shadow: 0 4px 18px 0 rgba(191, 254, 255, 1);
    margin-top: 25%;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
   
    background:linear-gradient(to right,#000000,#00c3ff);
    color: white;
    transform: rotateY(180deg);
  }
  .flip-card-back p{
    margin-top: 25%;
      font-size: 40px;
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

.animation-area{
    position: absolute;
    z-index: 0;
    background: linear-gradient(to left,#00c3ff,rgb(0, 0, 0));
    width: 100%;
    height: 150vh;
    
}
.box-area{
    position: absolutes;
    top: 0;
    left: 0;
    width: 100%;
    
    overflow: hidden;
}
.box-area li{
    position: absolute;
display: block;
list-style: none;
width: 25px;
height: 25px;
background: rgb(0, 0, 0);
animation: animate 20s linear infinite;
bottom: -150px;
}
.box-area li:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.box-area li:nth-child(2){
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}
.box-area li:nth-child(3){
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
  
}
.box-area li:nth-child(4){
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}
.box-area li:nth-child(5){
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
   
}
.box-area li:nth-child(6){
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
   
}
nav{
  position: fixed;
  top: 0;
  width: 100%;
  color: #fff;
  z-index: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: 'Odibee Sans', cursive;
  box-sizing: border-box;
}
.logo {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  color: rgb(255, 255,255);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
}
.nav-links{
   display: flex;
  justify-content: space-around;
  width: 40%;
}
.nav-links li{
  list-style: none;
}
.nav-links a{
  color: rgb(226, 226,226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
}

  a:hover {
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    opacity: 08;
    }
@keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    } 
}